In [1]:
Integer - int - 3, 300 ,200 500

SyntaxError: invalid syntax (<ipython-input-1-1227b4774f49>, line 1)

In [ ]:
Floating point  - float - decimal point numbers  0.3 100.0

In [ ]:
String - str - 'hello', "hello" , "this is my name"

In [ ]:
lists - list - [10, 'hello', 0.4, 0.0, 3, 4, 5]

In [ ]:
Dictionaries - dict - {'key':'value', 'name':'harsh', 'rollno':'1'}

In [ ]:
tuples - tuple - (10, 'hello', 0.4)

In [ ]:
sets set {'a','b'}

In [ ]:
booleans - bool - True False

In [2]:
## Integers

In [3]:
2 +  1

3

In [4]:
2-1

1

In [5]:
2* 1

2

In [6]:
3/2

1.5

In [7]:
#Modulo mod operator

In [8]:
3 % 2

1

In [9]:
3 ** 2

9

In [10]:
2 + 10 * 10 + 3

105

In [11]:
(2 + 10)* (10 + 3)

156

In [12]:
# Variable

In [29]:
a = 1.2

In [30]:
b = 2.4

In [31]:
a +b

3.5999999999999996

In [16]:
a*b

2

In [22]:
my_dog = 1

In [19]:
my_dog = ["Sammy", "harsh"]

In [20]:
my_dog

['Sammy', 'harsh']

In [23]:
my_dog = "harsh"

In [24]:
type(my_dog)

str

In [25]:
my_dog = 1

In [26]:
type(my_dog)

int

In [27]:
my_income = 100
tax_rate =0.1

my_taxes = my_income * tax_rate

In [28]:
my_taxes

10.0

In [ ]:
Strings

In [32]:
'hello'

'hello'

In [33]:
"hello"

'hello'

In [34]:
'I'm going to go'

SyntaxError: invalid syntax (<ipython-input-34-e02d47e7ccb9>, line 1)

In [35]:
"I'm going to go"

"I'm going to go"

In [36]:
print('hello')

hello

In [43]:
print(" ''' hello'''")

 ''' hello'''

In [ ]:
slicing [start : stop: step]

In [44]:
my_string = "Hello World"
my_string

'Hello World'

In [45]:
my_string[1]

'e'

In [46]:
my_string[6]

'W'

In [47]:
my_string[9]

'l'

In [48]:
my_string[-2]

'l'

In [49]:
my_string[1:]

'ello World'

In [50]:
my_string[1:6:2]

'el '

In [51]:
my_string[1:6]

'ello '

In [52]:
# Immutability

In [53]:
name = "sam"

In [55]:
'P' + name[1:]

'Pam'

In [57]:
X = ' Hello World'
X + ' it is a beautiful day!'

' Hello World it is a beautiful day!'

In [58]:
2 + 3

5

In [59]:
"2" + "3"

'23'

In [60]:
X = "hello world"

In [62]:
X.upper()

'HELLO WORLD'

In [63]:
X.upper

In [64]:
X.lower()

'hello world'

In [65]:
X.split()

['hello', 'world']

In [66]:
X = 'hii this is a string'

In [67]:
X.split()

['hii', 'this', 'is', 'a', 'string']

In [69]:
X.split('i')

['h', '', ' th', 's ', 's a str', 'ng']

## print formating

In [2]:
print("hello" + " my name is divyanshi")

hello my name is divyanshi

In [ ]:
.format() method
f-string method

In [ ]:
print('String here {} the also {}'.format('something1','something2'))   # syntax for .format() method

In [5]:
print('this is a string {}'.format(' Inserted'))

this is a string  Inserted

In [8]:
print('the {2} {1} {0} '.format('fox' , 'brown', 'quick'))

the quick brown fox

In [9]:
result = 100/777

In [10]:
result

0.1287001287001287

In [22]:
print("the result was {r:1.7f}".format(r = result))

the result was 0.1287001

In [25]:
name = 'amy'

In [26]:
print(f'Hello, my name is {name}')

Hello, my name is amy

In [27]:
age = 3

In [28]:
print(f'{name} is {age} years old.')

amy is 3 years old.

In [ ]:
Booleans

In [29]:
True

True

In [30]:
False

False

In [31]:
type(False)

bool

In [32]:
1>2

False

In [33]:
2<3

True

In [ ]:
Sets

In [35]:
myset = set()

In [36]:
myset

set()

In [37]:
myset.add(1)

In [38]:
myset.add(2)

In [39]:
myset

{1, 2}

In [41]:
mylist = [1,1,1, 1,1 , 3, 2,2,2,2]

In [42]:
set(mylist)

{1, 2, 3}

In [ ]:
list

In [43]:
my_list = [1,2,3]

In [44]:
my_list = ['STRING', 1, 2, 22.3]

In [45]:
len(my_list)

4

In [48]:
mystring = 'asdgfhdfjhiowuf    '

In [49]:
len(mystring)

19

In [50]:
my_list[0]

'STRING'

In [51]:
my_list[1:]

[1, 2, 22.3]

In [52]:
another_list = ['one' , 'two']

In [53]:
new_list = my_list + another_list

In [54]:
new_list

['STRING', 1, 2, 22.3, 'one', 'two']

In [55]:
new_list[0] = 'one two'

In [56]:
new_list

['one two', 1, 2, 22.3, 'one', 'two']

In [64]:
new_list.append(100)

In [65]:
new_list

['one two', 2, 22.3, 'one', 'two', 100]

In [66]:
new_list.pop()

100

In [67]:
new_list

['one two', 2, 22.3, 'one', 'two']

In [68]:
newlist = ['a', 'f','d ', 'm', 'c']

In [69]:
newlist.sort()

In [70]:
newlist

['a', 'c', 'd ', 'f', 'm']

In [71]:
numlist = [1, 5, 3, 8]

In [72]:
numlist.sort()

In [73]:
numlist

[1, 3, 5, 8]

In [74]:
mysortedlist = newlist.sort()

In [75]:
mysortedlist

In [76]:
type(mysortedlist)

NoneType

In [77]:
numlist.reverse()

In [78]:
numlist

[8, 5, 3, 1]

# Dictionaries

In [122]:
{'key1':'value1', 'key2':'value2'}     # Syntax

{'key1': 'value1', 'key2': 'value2'}

In [123]:
my_dict = {'key1':'value1', 'key2':'value2'}

In [124]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [125]:
my_dict['key1']

'value1'

In [126]:
prices_lookup = {'apple':10, 'oranges':20, 'milk':22}

In [127]:
prices_lookup['apple']

10

In [128]:
d = {'k1':123, 'k2':[0,1,2], 'k3':{'insideKey':10}}

In [130]:
d['k2'][0]

0

In [131]:
d['k3']['insideKey']

10

## Convert letter 'c' into uppercase

In [9]:
d = {'key1':['a','b','c']}

In [10]:
d

{'key1': ['a', 'b', 'c']}

In [11]:
mylist = d['key1']

In [12]:
mylist

['a', 'b', 'c']

In [13]:
letter = mylist[2]

In [14]:
letter

'c'

In [15]:
letter.upper()

'C'

In [16]:
d['key1'][2].upper()

'C'

## Add new values into the dictionary

In [24]:
d = {'key1':100, 'key2':200}

In [25]:
d['k3'] = 300

In [26]:
d

{'key1': 100, 'key2': 200, 'k3': 300}

In [27]:
d['key1'] = 'NEWVALUE'

In [28]:
d

{'key1': 'NEWVALUE', 'key2': 200, 'k3': 300}

In [29]:
d.keys()   # displays all the keys in the dictionaries

dict_keys(['key1', 'key2', 'k3'])

In [30]:
d.values()     # displays all the values in the dictionaries

dict_values(['NEWVALUE', 200, 300])

In [31]:
d.items()      # displays all the items in the dictionaries

dict_items([('key1', 'NEWVALUE'), ('key2', 200), ('k3', 300)])

## Tuples

In [32]:
t = (1,2,3)

In [33]:
mylist = [1,2,3]

In [34]:
type(t)

tuple

In [35]:
t = ('one', 2)

In [36]:
t[0]

'one'

In [37]:
t[-1]

2

In [39]:
t = ('a', 'a', 'b')

In [40]:
t.count('a')     # counts the number of times 'a' occurs

2

In [42]:
t.index('a')       # returns the first time 'a' occurs  
                   #(if there are multiple objects, it will not return the second time the object occurs)

0

In [43]:
t[0] = 'NEW'    # error because tuples are immutable

TypeError: 'tuple' object does not support item assignment

## Programs

In [44]:
# Python program to swap two variables

x = 5
y = 10

# To take inputs from the user
#x = input('Enter value of x: ')
#y = input('Enter value of y: ')

# create a temporary variable and swap the values
temp = x
x = y
y = temp

print('The value of x after swapping: {}'.format(x))
print('The value of y after swapping: {}'.format(y))

The value of x after swapping: 10
The value of y after swapping: 5

The standard form of a quadratic equation is:

ax2 + bx + c = 0, where
a, b and c are real numbers and
a ≠ 0
The solutions of this quadratic equation is given by:

(-b ± (b * 2 - 4 * a * c) * 0.5) / 2 * a

In [45]:
# Solve the quadratic equation ax**2 + bx + c = 0

# import complex math module
import cmath

a = 1
b = 5
c = 6

# calculate the discriminant
d = (b**2) - (4*a*c)

# find two solutions
sol1 = (-b-cmath.sqrt(d))/(2*a)
sol2 = (-b+cmath.sqrt(d))/(2*a)

print('The solution are {0} and {1}'.format(sol1,sol2))

The solution are (-3+0j) and (-2+0j)

In [47]:
# Store input numbers
num1 = input('Enter first number: ')
num2 = input('Enter second number: ')

# Add two numbers
sum = float(num1) + float(num2)

# Display the sum
print('The sum of {0} and {1} is {2}'.format(num1, num2, sum))

Enter first number: 5
Enter second number: 3
The sum of 5 and 3 is 8.0

## Comparision Operator

In [48]:
2 == 2

True

In [49]:
2 == 1

False

In [50]:
'hello' == 'bye'

False

In [51]:
'Bye' == 'bye'

False

In [52]:
'2' == 2

False

In [53]:
2.0 == 2

True

In [54]:
3 != 3

False

In [55]:
4 != 5

True

In [56]:
2 > 1

True

In [57]:
1 > 2

False

In [61]:
1 < 2

True

In [60]:
2 < 1

False

In [62]:
2 >= 2

True

In [63]:
4 <= 2

False

## Logical Operator

In [64]:
1 < 2 and 2 < 3         # both conditions should be true

True

In [65]:
1 < 2 and 2 > 3

False

In [66]:
('h' == 'h') and (2 == 2)

True

In [67]:
1 == 1 or 2 == 2       # only one of the conditions needs to be true

True

In [71]:
1 < 2 or 2 > 3

True

In [68]:
not 1 == 1

False

In [69]:
not 400 >= 500

True

## IO files

In [73]:
%%writefile myfile.txt
Hello this is a text file
this is the second line
this is the third line

# this only works in jupyter notebook
# if you are working with some other editor simply write it in a file and save it as a .txt file

Writing myfile.txt

In [74]:
 myfile = open('myfile.txt')

In [77]:
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line\n\n# this only works in jupyter notebook\n# if you are working with some other editor simply write it in a file and save it as a .txt file \n'

In [78]:
myfile.read()

''

In [79]:
myfile.seek(0)  #reset cursor

0

In [80]:
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line\n\n# this only works in jupyter notebook\n# if you are working with some other editor simply write it in a file and save it as a .txt file \n'

In [81]:
myfile.seek(0)

0

In [82]:
contents = myfile.read()
contents

'Hello this is a text file\nthis is the second line\nthis is the third line\n\n# this only works in jupyter notebook\n# if you are working with some other editor simply write it in a file and save it as a .txt file \n'

In [83]:
myfile.seek(0)

0

In [85]:
myfile.readlines()

['Hello this is a text file\n',
 'this is the second line\n',
 'this is the third line\n',
 '\n',
 '# this only works in jupyter notebook\n',
 '# if you are working with some other editor simply write it in a file and save it as a .txt file \n']

### Open a text file which is in a different location
### All you need to do is provide the full file path


For windows:

myfile = open("C:\\Users\\UserName\\Folder\\test.txt")

For MacOS and Linux:

myfile = open("/User/YouUserName/Folder/myfile.txt")

In [86]:
pwd     # print your working directory

'C:\\Users\\Kumbhkaran'

In [87]:
myfile.close()    # manually close the file
# if we open the file somewhere else it will return an error that python is still using this file

In [88]:
with open('myfile.txt') as my_new_file:
    contents = my_new_file.read()
    
# best practice while using files
# we don't have to worry about closing the file

In [89]:
contents

'Hello this is a text file\nthis is the second line\nthis is the third line\n\n# this only works in jupyter notebook\n# if you are working with some other editor simply write it in a file and save it as a .txt file \n'

In [90]:
contents

'Hello this is a text file\nthis is the second line\nthis is the third line\n\n# this only works in jupyter notebook\n# if you are working with some other editor simply write it in a file and save it as a .txt file \n'

In [91]:
with open('myfile.txt', mode = 'r') as myfile:
    contents = myfile.read()

In [92]:
contents

'Hello this is a text file\nthis is the second line\nthis is the third line\n\n# this only works in jupyter notebook\n# if you are working with some other editor simply write it in a file and save it as a .txt file \n'

In [93]:
with open('myfile.txt', mode = 'w') as myfile:
    contents = myfile.read()
    
# this only has permission to write the files

UnsupportedOperation: not readable

mode = 'r' is read only
mode = 'w' is write only (will overwrute files or create new)
mode = 'a' is sppend only (will add on to files)
mode = 'r+' is reading and writing
mode = 'w+' is writing and reading (Overwrites existing files and create a new files)

In [110]:
%%writefile my_new_file.txt
ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

Overwriting my_new_file.txt

In [111]:
with open('my_new_file.txt', mode = 'r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

In [112]:
with open('my_new_file.txt', mode = 'a') as f:
    f.write('\nFOUR ON FOURTH')

In [113]:
with open('my_new_file.txt', mode = 'r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

FOUR ON FOURTH

# Control Flow Statements

## If Elif else

In [ ]:
# Syntax of if elif else statement

if some_condition:
    # execute some code
elif some_other_condition:
    # do something different
else:
    # do something else

In [2]:
if True:
    print('ITS TRUE!')

ITS TRUE!

In [3]:
if 3>2:
    print('ITS TRUE!')

ITS TRUE!

In [10]:
hungry = False

if hungry:
    print('FEED ME!')
else:
    print('Im not hungry')

Im not hungry

In [6]:
loc = 'Bank'

if loc == 'Auto Shop':
    print('Cars are cool!')
elif loc == 'Bank':
    print('Money is cool!')
elif loc == 'Store':
    print('Welcome to the store!')
else:
    print('I do not know much.')

Money is cool!

# For loops

In [7]:
# Syntax of a for loop

# for(initialisation; condition ; updation)

my_iterable = [1,2,3]
for item_name in my_iterable:
    print(item_name)

1
2
3

In [8]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [10]:
for num in mylist:       # here num represents the items in the listd
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [12]:
for num in mylist:
    # check for even numbers
    if num % 2 == 0:
        print(num)
    else:
        print(f'Odd number: {num}')
        
# Take care of Identation

Odd number: 1
2
Odd number: 3
4
Odd number: 5
6
Odd number: 7
8
Odd number: 9
10

In [13]:
list_sum = 0

for num in mylist:
    list_sum = list_sum +num     # takes the last result and adds the number to it
    #print(list_sum)
    
print(list_sum)

55

In [14]:
mystring = 'Hello World'

for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [16]:
tup = (1,2,3)

for item in tup:
    print(item)

1
2
3

In [26]:
# tuple unpacking

mylist = [(1,2), (3,4), (5,6), (7,8)]

In [18]:
len(mylist)

4

In [19]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [21]:
for a,b in mylist:
    print(a)
    print(b)
    
# when we duplicate the structure of the item and then unpack them 
# in this case tuples are unpacked so that we can access the individual items

1
2
3
4
5
6
7
8

In [22]:
mylist = [(1,2,3),(4,5,6),(7,8,9)]

In [23]:
for a, b, c in mylist:
    print(b)

2
5
8

In [25]:
d = {'k1':1, 'k2':2, 'k3':3}

for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [27]:
for key,value in d.items():        # taking advantage of tuple unpacking
    print(value)
    print(key)

1
k1
2
k2
3
k3

# while loop

In [ ]:
# Syntax

while some_boolean_condition:
    # do something
else:
    # do something different
    
# infinte loop

In [30]:
x = 0

while x<5:
    print(f'The current value of x is {x}')
    #x = x + 1
    x += 1
else:
    print('X is not less than 5')

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
X is not less than 5

### Break : breaks out of the current closest enclosing loop.
### Continue : Goes to the top of the closest enclosing loop.
### Pass : does nothing at all

In [33]:
x = [1,2,3]

for item in x:
    # comment 
    pass

print('End of my script')

End of my script

In [2]:
mystring = 'Sammy'

for letter in mystring:
    if letter == 'a':    # if you dont want to print the letter 'a'
        continue
    print(letter)

S
m
m
y

In [3]:
for letter in mystring:
    if letter == 'a':
        break
    print(letter)

S

In [6]:
x = 0

while x < 5:
    if x == 2:
        break
    print(x)
    x += 1

0
1

# Programs

In [2]:
#Python program to find the largest number among the three input numbers

# change the values of num1, num2 and num3
# for a different result
num1 = 10
num2 = 14
num3 = 12

# uncomment following lines to take three numbers from user
#num1 = float(input("Enter first number: "))
#num2 = float(input("Enter second number: "))
#num3 = float(input("Enter third number: "))

if (num1 >= num2) and (num1 >= num3):
   largest = num1
elif (num2 >= num1) and (num2 >= num3):
   largest = num2
else:
   largest = num3

print("The largest number is", largest)

The largest number is 14

In [6]:
# Python program to find the factorial of a number provided by the user.

# change the value for a different result
num = 7

# To take input from the user
#num = int(input("Enter a number: "))

factorial = 1

# check if the number is negative, positive or zero
if num < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,num + 1):
       factorial = factorial*i
   print("The factorial of",num,"is",factorial)

The factorial of 7 is 5040

In [3]:
# Multiplication table (from 1 to 10) in Python

num = 12

# To take input from the user
# num = int(input("Display multiplication table of? "))

# Iterate 10 times from i = 1 to 10
for i in range(1, 11):
   print(num, 'x', i, '=', num*i)

12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120

In [8]:
# Python program to check if the number is an Armstrong number or not

# take input from the user
num = int(input("Enter a number: "))

# initialize sum
sum = 0

# find the sum of the cube of each digit
temp = num
while temp > 0:
   digit = temp % 10
   sum += digit ** 3
   temp //= 10

# display the result
if num == sum:
   print(num,"is an Armstrong number")
else:
   print(num,"is not an Armstrong number")

Enter a number: 153
153 is an Armstrong number

In [25]:
# This is the example of print simple pyramid pattern  
n = int(input("Enter the number of rows"))  
# outer loop to handle number of rows  
for i in range(0, n):  
    # inner loop to handle number of columns  
    # values is changing according to outer loop  
        for j in range(0, i + 1):  
            # printing stars  
            print("* ", end="")       
  
        # ending line after each row  
        print()

Enter the number of rows5
*
* *
* * *
* * * *
* * * * *

## Useful Operators

### Range

In [1]:
for num in range(3,10):
    print(num)

3
4
5
6
7
8
9

In [2]:
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

### Enumerate

In [2]:
index_count = 0

for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count, letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [3]:
index_count = 0
word = 'abcde'
for letter in word:
    print(word[index_count])
    index_count += 1

a
b
c
d
e

In [4]:
index_count = 0
word = 'abcde'

for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [5]:
index_count = 0
word = 'abcde'

for index, letter in enumerate(word):    # tuple unpacking
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

## Zip function

In [6]:
mylist1 = [1,2,3,4,5]

In [13]:
mylist2 = ['a', 'b', 'c']
mylist3 = [100,200,300]

In [20]:
zip(mylist1,mylist2,mylist3)

In [17]:
for item in zip(mylist1,mylist2,mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [19]:
list(zip(mylist1,mylist2,mylist3))

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300)]

## In operator

In [22]:
'x' in [1,2,3]

False

In [23]:
2 in [1,2,3]

True

In [24]:
'a' in 'a world'

True

In [1]:
'mykey' in {'mykey':345}

True

In [2]:
d = {'mykey':345}

345 in d.keys()

False

## Min and Max function

In [3]:
mylist = [10,20,30,40,50]

In [4]:
min(mylist)

10

In [5]:
max(mylist)

50

## Random library

In [6]:
from random import shuffle

In [7]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [8]:
random_list = shuffle(mylist)

In [9]:
mylist

[2, 1, 7, 5, 10, 3, 6, 8, 4, 9]

In [10]:
type(random_list)

NoneType

In [11]:
from random import randint

In [14]:
randint(0,100)  # returns random integer

62

In [50]:
mynum = randint(0,10)
mynum

5

In [51]:
input('Enter a number here: ')

Enter a number here: 50

'50'

In [52]:
result = input('Favorite Number: ')

Favorite Number: 14

In [53]:
result

'14'

In [19]:
type(result)

str

In [20]:
int(result)

30

In [21]:
float(result)

30.0

## List Comprehension

In [22]:
mystring = 'hello'

In [24]:
mylist = []

for letter in mystring:
    mylist.append(letter)

In [25]:
mylist

['h', 'e', 'l', 'l', 'o']

In [26]:
mylist = [letter for letter in mystring]

In [27]:
mylist

['h', 'e', 'l', 'l', 'o']

In [29]:
mylist = [x for x in 'word']

In [30]:
mylist

['w', 'o', 'r', 'd']

In [31]:
mylist = [x for x in range(0,11)]

In [32]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [34]:
mylist = [x**2 for x in range(0,11)]
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [36]:
mylist = [x**2 for x in range(0,11) if x%2==0]
mylist

[0, 4, 16, 36, 64, 100]

In [37]:
celcius = [0,10,20,30.6]

farenhiet = [((9/5)*temp +32) for temp in celcius]

In [38]:
farenhiet

[32.0, 50.0, 68.0, 87.08000000000001]

In [39]:
result = [x if x%2==0 else 'ODD' for x in range(0,11)]

In [40]:
result

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

## Nested loop

In [43]:
mylist = []

for x in [2,4,6]:
    for y in [1,10,1000]:
        mylist.append(x*y)

In [44]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [46]:
mylist = [x*y for x in [2,4,6] for y in [1,10,1000]]
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]